#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }

  .loading-container{
    position: fixed;
    top: calc(50vh - 300px);
    left: calc(50vw - 300px);
    height: 600px;
    width: 600px;
    border: none;
    background-color: transparent;
    z-index: 1000;
    img{
        width: 600px;
    }
    &.homepage-loader{
        position: absolute;
        top : 90vh;
    }
}

