.circle {
  border-radius: 50%;
}

.details-container {
  width: 100%;
  height: 100%;
  background: $clr1;
}

.gallery-contianer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 75px);
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid $clr4;
}

.img-container-one {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 5;
}

.img-container-two {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.img-container-three {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 5;
}

.desc-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas: ". ." ". .";
  margin: 0 auto;
}

.text-container {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  font-size: rem(20px);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  & h1 {
    display: inline-block;
  }
}

.eventera-status {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.12), 0 0px 6px rgba(0, 0, 0, 0.24);
}

.members-list {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  justify-content: left;
  & ul {
    list-style: none;
    & .member-item {
      width: 100%;      
      padding: 18px;
      font-weight: 700;
      text-align: left;
      &:nth-child(odd) {
        background: darken($color:$clr1, $amount: 10%);
      }
    }
  }
}

.eventera-creator-text {
  justify-content: center;
  align-items: flex-start;
}

.chat-icon {
  background: url('../../imgs/chat.svg');
  position: fixed;
  bottom: 10px;
  left: 10px;
  height: 65px;
  width: 65px;
  &:hover {
    cursor: pointer;
    background: url('../../imgs/chat-hover.svg');
    transition: 0.3;
  }
}

.chat-container {
  position: fixed;
  width: 33%;
  height: 56vh;
  bottom: 20px;
  left: -1000px;
  background: darken($color: $clr2, $amount: 5%);
  &.chat {
    left: 0;
    transition: 0.3s;
  }
}

.chat-input {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    outline: none;
    background-color: $clr1;
    color: black;
    padding: rem(8px);
    border: 1px solid $clr2;
}

.join-btn {
  @include btn;
  width: rem(95px);
  height: rem(35px);
  padding: 10px 10px;
    &:hover {
        background-color: darken($clr3, 10%);
        // transition: 0.3s;
    }
}