

.home-container {
	height: 100vh;
}

.bg-container {
	background:url('../../imgs/fireworks.jpg') no-repeat center;
	background-size:cover;
	background-attachment:fixed;
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:-10;
}


.list-header-home {
	position: absolute;
	left: rem(65px);
	top: 105vh;
}


// .carousel-header {
// 	position: absolute;
// 	bottom: 315px;
// 	left: 45px;
// 	text-decoration: underline;
// }
// .carousel-container {
// 	background-color: $clr1;
// 	position: absolute;
// 	bottom: -365px;
// 	height: rem(360px);
// 	width: 100%;
// 	padding: 10px;
// }

// .carousel {
// 	margin-top: 65px;
// }

// .carousel-slide {
// 	height: rem(210px);
// 	max-width: calc(100vw / 3);
// 	padding: 10px;
// 	& img {
// 		max-width: 100%;
// 		max-height: 100%;
// 		border-radius: 10px;
// 		&:hover {
// 			opacity: 0.8;
// 			cursor: pointer;
// 		}
// 	}	
// }


.btn-action {
	padding: rem(5px) rem(10px);
	position: absolute;
	bottom: 10vh;
	right: 10vh;
}
.jumbo {
	font-size: rem(60px);
	text-shadow: 3px 3px rgba(0, 0, 0, 0.2);
	left: 10vw;
	position: absolute;
	background-color: transparent;
}