

.home-container {
	height: 100vh;
}

.bg-container {
	background:url('../../imgs/home-collage.png') no-repeat center;
	background-size:cover;
	background-attachment:fixed;
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:-10;
	@media screen and (max-width:950px) {
        background:url('../../imgs/home-mobile.png') no-repeat center;
       }
}

.list-header-home {
	position: absolute;
	left: rem(65px);
	top: 105vh;
}


.btn-action {
	padding: rem(5px) rem(10px);
	position: absolute;
	bottom: 10vh;
	right: 10vh;
}
.jumbo {
	font-size: rem(60px);
	text-shadow: 3px 3px rgba(0, 0, 0, 0.2);
	left: 10vw;
	position: absolute;
	background-color: transparent;
}

.event-sample-one {
	position: absolute;
	left: -200px;
	top: 115vh;
	width: 250px;
	height: 170px;
	border-radius: 5px;
	& .sample-span {
		height: 100%;
		width: 55px;
		background: black;
		opacity: 0.7;
	}
}