

.filter-container {
    width: rem(470px);
    height: rem(200px);
    border-radius: 3px;
   background: $clr1;
   position: absolute;
   top: rem(187px);
   left: rem(65px);
   & h1 {
       font-size: 25px;
   }
}


.search-container {
    justify-content: left;
    width: 20em;
    padding-left: 10px;
    & h5 {
        width: rem(77px);
        padding-bottom: 7px;
        padding-left: 1px;
        margin: 0;
    }
}

.search-filter-input {
    width: 65%;
    outline: none;
    background-color: $clr1;
    color: black;
    padding: rem(8px);
    border-radius: 10px;
    border: 1px solid $clr2;
}

.search-eventeras {
    position: absolute;
    right: 15px;
    top: 98px;
    width: rem(95px);
    height: rem(35px);
    background: linear-gradient(to top left, $clr4, $clr3, $clr1);
    border-radius: 5px;
    font-weight: bold;
    color: $clr1;
    &:hover {
        color: $clr4;
        transition: 0.3s;
    }
}