.eventera-list-container {
    margin: 0 auto;
    border-bottom: 1px solid rgb(235, 235, 235);
    padding-bottom: rem(20px);
    @media screen and (max-width:560px) {
        margin: 10px 20px;
    }
}

.eventera-list {
    margin: 0 12px;
    display: grid;
    grid-template-columns: 1fr;

    @include two-in-row {
        grid-template-columns: repeat(2, 1fr);
    }

    @include three-in-row {
        grid-template-columns: repeat(3, 1fr);
    }
 
    @include four-in-row {
        grid-template-columns: repeat(4, 1fr);
    }

}

.category-header {
    text-align: left;
    padding: 10px;
}

.eventera-list-container:last-child {
    hr {
        display: none;
    }
}

.show-more-btn {
    @include btn;
    padding: 5px;
    margin-left: 85%;
    margin-top: 3%;
}

.bg-container-list {
    background:linear-gradient(to right, $clr4 0,  $clr4 3%, $clr1 3%, $clr1 97%, $clr4 97%, $clr4 100%);
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
    z-index:-20;
    &.isntMain {
        background:$clr1
    }
}

.load-container{
    width: 100% ;
    height: 40px;
    border: 0.5px solid black;
    button{
        background-color: transparent;
        width: 100%;
        height: 100%;
    }
    &:hover{
        background-color: darken($color:$clr1,$amount:20%);
    }
}