

.filter-container {
    width: rem(470px);
    height: 35vh;
   background: whitesmoke;
   position: absolute;
   top: rem(87px);
   left: rem(65px);
   border-radius: 10px;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   & h1 {
       font-size: 25px;
   }
}
.headline-divider {
    font-size: 16px;
    color:$clr2
}

.search-container, .build-container {
    justify-content: left;
    width: 20em;
    padding-left: 10px;
    & h5 {
        width: rem(77px);
        padding-bottom: 7px;
        padding-left: 1px;
        margin: 0;
    }
}

.search-filter-input {
    width: 65%;
    outline: none;
    background-color: $clr1;
    color: black;
    padding: rem(8px);
    border-radius: 10px;
    border: 1px solid $clr2;
}

.search-eventeras {
    position: absolute;
    right: 15px;
    top: 98px;
    width: rem(95px);
    height: rem(35px);
    background: linear-gradient(to top left, $clr4, $clr3, $clr1);
    border-radius: 5px;
    font-weight: bold;
    color: $clr1;
    &:hover {
        color: $clr4;
        transition: 0.3s;
    }
}

.build-eventeras {
    position: absolute;
    right: 15px;
    top: 265px;
    width: rem(95px);
    height: rem(35px);
    background: linear-gradient(to top left, $clr4, $clr3, $clr1);
    border-radius: 5px;
    font-weight: bold;
    color: $clr1;
    &:hover {
        color: $clr4;
        transition: 0.3s;
    }
}