

.images-container {
    border: 1px solid black;
    border-radius: 10px;
    width: rem(455px);
    height: rem(425px);
    background-color: $clr1;
    padding: 10px;
    color: $clr4;
    // margin: 100px;
}

.full-image {
    width: rem(425px);
    height: rem(300px);
    box-shadow: 12px 12px 12px grey;
    & img {
        object-fit: cover;
        border-radius: 8px;
        width: rem(425px);
        height: rem(290px);
    }
}


.image-list {
    width: rem(100px);
    height: rem(100px);
    & img {
        margin: 5px;
        // max-width: 100%;
        // max-height: 100%;
        border: 1px solid black;
        &:hover {
            cursor: pointer;
            box-shadow: 5px 5px 5px $clr2;
            opacity: 0.8;
        }
        
    }
}
// .image-preview-container {
//     width: rem(100px);
//     height: rem(100px);
// }

.add-img-input {
    display: none;
}

#add-img-label {
    display: block;
    margin: 0 auto;
    box-shadow: 5px 5px 5px black;
    font-weight: bold;
    border-radius: 5px;
    width: rem(125px)
}

#add-img-label:hover {
    box-shadow: 5px 8px 5px black;
   cursor: pointer;
}

// .image-command {
//     display: none;
// }