
.collapsible {
    background-color: $clr4;
    color: $clr1;
    cursor: pointer;
    padding: rem(9px);
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    &:hover {
        background: linear-gradient( $clr4 75%, $clr1)
    }
}

.nav-container {
    width: em(250px)
}

.logo-icon {
    font-size: rem(25px);
    display: block
}
.logo-text {
    font-size: rem(15px)
}

.search-events {
    outline: none;
    background-color: $clr1;
    color: black;
    padding: rem(11px);
    border-radius: 10px;
}

.content {
    height: 0;
    &.open { 
        position: absolute;
        z-index: 2;
        right: 20px;
        top: 80px;
        width: 33%;
        padding: 0 rem(18px);
        height: 250px;
        overflow: hidden;
        background-color: $clr1;
        box-shadow: 1px 1px 2px 2px rgba(0,0,0,.2);
    }
}


.router-categories, .router-about {
  color: $clr1;
  font-size: 25px;
//   padding: 10px;
  font-weight: bold;
  &:hover {
     text-decoration: underline
  }
}


