.eventera-list-container {
    margin: 0 auto;
    border-bottom: 1px solid rgb(235, 235, 235);
    padding-bottom: rem(20px);
}

.eventera-list {
    margin: 0 12px;
    display: grid;
    grid-template-columns: 1fr;

    @include two-in-row {
        grid-template-columns: repeat(2, 1fr);
    }

    @include three-in-row {
        grid-template-columns: repeat(3, 1fr);
    }


    @include four-in-row {
        grid-template-columns: repeat(4, 1fr);
    }


    justify-content: flex-start;

}

.eventera-list-container:last-child {
    hr {
        display: none;
    }
}

.bg-container {
    background: linear-gradient(45deg, transparent 80%, $clr4 20%);
    position:absolute;
    display: fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:-10;
}