.eventera-preview {
    & h2 {
        text-align: left;
    }
    & img {
        margin-bottom: 5px;
    }
    margin: 5px;
    align-items: flex-start;
    min-width: 246px; 

    cursor:pointer;
    background-color: transparent;
}

.secondary {
    color: #767676;
    margin-bottom: 5px;
}

.eventera-preview-details {
    padding: 5px;
}

.btn {
    padding: 4px 7px;
    width: 80px;
    cursor: pointer;

    &:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }
}