* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

    @include for-normal-layout {
        font-size: 16px;
    }
}

body {
    margin: 0;
    color: $clr2;
}

a {
    color: inherit;
    text-decoration: inherit;
}

img {
    max-width: 100%;
}

h2 {
    margin: 0;
}

input {
    border: none;
}

button {
    cursor: pointer;
    background-color: $clr2;
    box-sizing: border-box;
    font: inherit;
    padding: rem(5px) rem(10px);
    border: none;
}

ul {
    padding: 0;
}