* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

    @include for-normal-layout {
        font-size: 16px;
    }
}

body {
    margin: 0;
    color: $clr2;
}

a {
    color: inherit;
    text-decoration: inherit;
}

img {
    max-width: 100%;
}

h2 {
    margin: 0;
}

input {
    outline: none;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(200, 200, 200, 0.2);
    margin-bottom: 10px;
    &:focus {        
        border-color: rgba(0, 132, 137, 0.3);

    }
}



button {
    cursor: pointer;
    background: transparent;
    box-sizing: border-box;
    font: inherit;
    border: none;
}

ul {
    padding: 0;
}